.nested-fields.four.fields
  .field
    = f.input :position
  .field
    = f.input :widget, collection: @facade.sections_for_select
  .field
    = link_to_remove_association 'remove section', f, data: { confirm: 'Are you sure?' }, class: 'ui red basic button'
  - if @facade.edit_section_link_show?(f.object, 'edit') 
    .field
      = link_to @facade.edit_section_link_title(f.object), edit_admin_page_section_path(@facade.page, f.object), class: 'ui black basic button'
