.nested-fields.fields
  .field
    = f.input :position
  .field
    = f.input :image, as: :file
  .field
    = link_to_remove_association 'remove image', f, data: { confirm: 'Are you sure?' }, class: 'ui red basic button'
  - if f.object&.image.present?
    .field
      = image_tag(f.object.thumbnail)
